// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-sh-at-startup "foot --server"
// spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
