// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
	mode "3840x2160@60" // Set resolution and refresh rate
	scale 2 // No scaling (use 2 for HiDPI)
}
