layout {
	always-center-single-column
	gaps 4
	background-color "transparent"

	border {
		width 2
	}

	focus-ring {
		width 2
	}

	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
	}

}

window-rule {
	geometry-corner-radius 0
	clip-to-geometry true
	tiled-state true
	draw-border-with-background false
}
