[user]
	email = 32780326+bkorecic@users.noreply.github.com
	name = bkorecic

[core]
	editor = helix
	pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictStyle = zdiff3
[init]
	defaultBranch = main
