[Desktop Entry]
Version=1.0
Type=Application
Name=Swaync
Comment=Sway notification daemon
Exec=@bindir@/swaync
StartupNotify=false
DBusActivatable=true
