@import "frappe.css";

* {
    font-family: "RobotoMono Nerd Font Propo";
    font-size: 15px;
}

window#waybar {
    background: transparent;
    color: @mauve;
}

button {
    border: none;
}

.module {
    padding: 5 0 5 0;
}

.modules-left:first-child {
    margin: 0 0 0 30;
}

.modules-right:last-child {
    margin: 0 30 0 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces {
    /*background: rgba(50, 50, 50, 0.35);*/
    padding: 0 5px 0 5px;
}

#workspaces button {
    background: transparent;
    box-shadow: inherit;
    text-shadow: inherit;
    color: rgb(50, 50, 50);
    margin: 5px;
    padding: 0;
}

#workspaces button:hover {
    color: @mauve;
}

#workspaces button.visible {
    color: red;
}

#workspaces button.active, #workspaces button.visible {
    color: @mauve;
}

#memory, #cpu {
    margin-left: 20px;
}

#wireplumber,#clock {
    margin-right: 20px;
}
