/* Frappe Blue */
@define-color accent #8caaee;
@define-color txt #cad3f5;
@define-color bg #303446;
@define-color bg2 #51576d;

 * {
    font-family: 'FiraCode Nerd Font Mono';
    font-size: 16px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 0px;
    border: 2px solid @accent;
    border-radius: 12px;
    background-color: @bg;
    animation: slideIn 0.1s ease-in-out both;
 }

 /* Slide In */
 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Inner Box */
 #inner-box {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: @bg;
    animation: fadeIn 0.1s ease-in-out both;
 }

 /* Fade In */
 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */
 #input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @accent;
    background-color: @bg2;
    animation: fadeIn 0.1s ease-in-out both;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
    animation: fadeIn 0.1s ease-in-out both;
 }
 
 /* Selected Entry */
 #entry:selected {
   background-color: @accent;
 }

 #entry:selected #text {
    color: @bg;
 }
